/venv/
/.idea/
/master/
/Lesson_2 2/
/Lesson_2/.idea/
/Lesson_5/mini_framework/.idea/
/Lesson_5/.idea/
/Lesson_6/.idea/
/Lesson_6/mini_framework/.idea/
/Lesson_7/.idea/
/Lesson_8/.idea/
/Lesson_8/mini_framework/.idea/
/Lesson_9/mini_framework/.idea/
/Lesson_9/.idea/
